@media (max-width: 1024px) {
  .cabecalho nav ul {
    flex-direction: column;
    align-items: center;
  }

  .section-produtos-container {
    flex-direction: column;
    align-items: center;
  }

  .section-produtos-item img {
    max-width: 90%;
    height: auto;
  }

  .section-contato div {
    flex: 1 1 300px;
    margin: 0 20px;
  }

  .contato-forms form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-home {
    max-width: 100%;
    padding: 10px;
  }

  .section-item .title {
    font-size: 2.5rem;
  }

  .section-item p {
    font-size: 1.8rem;
  }

  .button-produtos {
    font-size: 2.5rem;
  }

  body .return-home {
    display: none !important;
  }

  .contato-texto {
    padding: 1rem 0 0 0;
  }
}

@media (max-width: 600px) {
  .section-produtos h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  .section-produtos h2 {
    padding: 0;
  }

  .section-produtos h3 {
    font-size: 3rem;
    max-width: 400px;
  }

  .section-contato h1 {
    font-size: 3.5rem;
  }

  .section-contato div .contato-texto h2 {
    font-size: 3rem;
  }
}

@media (max-width: 550px) {
  .section-home img {
    max-width: 100%; // Garante que a imagem não ultrapasse a largura da tela
    height: auto; // Mantém a proporção da imagem
    display: block; // Evita espaços extras ao redor da imagem
    margin: 0 auto; // Centraliza a imagem na tela
  }
}

@media (max-width: 480px) {
  .cabecalho {
    width: 100%;
  }

  .cabecalho nav ul {
    gap: 1rem;
    padding: 1rem;
  }

  .cabecalho nav ul li {
    font-size: 1.6rem;
  }

  .section-produtos h1,
  .section-produtos h3 {
    font-size: 3rem;
  }

  .section-produtos-item h2 {
    font-size: 2.5rem;
  }

  .button-produtos {
    font-size: 2rem;
    padding: 0.8rem 1.5rem;
  }

  .rodape {
    font-size: 1.6rem;
    width: 100%;
  }
}
