.container-produtos{
    width: 100%;
}

.section-select-produto {
    max-width: 960px;
    margin: 0 auto;
}

.input-checkbox[type=checkbox]{
    width: 25px;

}

.container-item-produtos label {
    font-size: 4rem;
}