.section-produtos {
  padding: 3rem 0;
}

.section-produtos h1 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: bold;
  margin: 0 1rem 4rem 1rem;
}

.section-produtos-container {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10rem;
}

.section-produtos-item {
  text-align: center;
  color: $cor1-texto;
}

.section-produtos-item h2 {
  font-size: 4rem;
}

.section-produtos-item img {
  max-width: 500px;
  height: 400px;
  border-radius: 3rem;
  margin: 2rem 0 3rem 0;
}

.section-produtos h3 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: bold;
  margin: 6rem auto;
  color: $cor1-texto;
}

.button-produtos {
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
  color: $cor2-texto;
  padding: 1rem 2rem;
  border: 5px solid $cor4-fundo;
  border-radius: 1.2rem;
  background-color: $cor5-fundo;
  box-shadow: 6px 6px 5px $cor3-fundo;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}

.button-produtos:hover {
  transform: scale(1.2);
}
