// Cores para background

$cor1-fundo: #f4f4d0;
$cor2-fundo: #f7f7f7;
$cor3-fundo: #524f4f;
$cor4-fundo: #000000;
$cor5-fundo: #532208;

// Cores para texto

$cor1-texto: #222222;
$cor2-texto: #f7f7f7;

// Fontes e Tamanhos

$font-poppins: "Poppins", Arial, sans-serif;
$font-size-texto: 62.5%;
