@import "variaveis";
@import "header";
@import "sectionHome";
@import "sectionProdutos";
@import "produtoTela";
@import "contato";
@import "rodape";

:root {
  font-size: $font-size-texto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $cor2-fundo;
  color: $cor1-texto;
  font-family: $font-poppins;
}

a,
ul,
ol {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
}

body .return-home {
  padding: 10px 18px;
  font-size: 3rem;
  font-weight: bold;
  background-color: $cor5-fundo;
  color: $cor2-texto;
  border: none;
  border-radius: 1.2rem;
  position: fixed;
  top: 870px;
  right: 40px;
  display: none;
}
